body {
   font-family: "Roboto Flex", sans-serif;
   margin: 0;
}

#page-wrap {
    max-width: 1100px;
    margin: 0 auto;
    text-align: left;
}

.header {
    display: flex;
    color: white;
    background-color: #1F2937;
    font-weight: bolder;
    font-size: 40px;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    padding: 16px;
    margin: 0px;
    list-style: none;
    align-self: flex-end;
    gap: 20px;
    font-size: 25px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: white;
}

.hero-container {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 0px;
    gap: 70px;
    
}


h1 {
    color: white;
    display: flex;
    font-weight:900px;
    font-size: 48px;
    margin: 0%;
}

.hero-text {
    color: #E5E7EB;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.hero-image-placeholder {
    color: white;
    display: flex;
    background-color: gray;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 205px;
}

.hero-content {
    display: flex;
    flex-basis: 350px;
    flex-wrap: wrap;
    flex: 1;
}

.sign-up {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    display: flex;
    padding: 10px 20px;
    font-weight: bold;
}

.container{
    background-color: #1F2937;
}

.information-header{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 100px;
}


.box {
    display: flex;
    height: 140px;
    width: 140px;
    border:3px solid #3882F6;
    border-radius: 15px;
}

.box-and-text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    max-width: 150px;
}

.box-text {
    max-width: 200px;
    padding-top: 10px;
    color: #1F2937;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote {
    display: flex;
    font-size: 36px;
    font-style: italic;
    flex-wrap: wrap;
    max-width:780px;
    justify-content: flex-end;
    padding-top: 150px;
    padding-bottom: 150px;
    font-weight: 100;
}

.quote-author {
    display: flex;
    align-self: flex-end;
    margin-top: 25px;
    margin-right: 0;
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
}

.cta-bg {
padding: 100px 0;
}

.cta-container {
    display: flex;
    background-color: #3882F6;
    color: white;
    padding: 50px 0px;
    justify-content:center;
    border-radius: 10px;
}

.cta-head {
    font-size: 20px;
    font-weight: bolder
}

.cta-text {
    font-size: 15px;

}

.cta-signup {
    align-self: flex-end;
    width: 120px;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    border:2px solid white;
    background-color: #3882F6;
    color: white;
    font-weight: bolder;
}

.cta-text-box{
    width: 620px;
}

.footer {
    display: flex;
    background-color:#1F2937;
    height: 80px;
    color: white;
    justify-content: center;
    align-items: center;
}